.sapMListNoDataText {
  color: #666;
}
.glossary-centeredPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.glossary-centeredPanel .sapMNav {
  min-width: 15% !important;
  max-width: 400px;
  height: 350px !important;
}
.glossary-centeredPanel .sapMNav .submitButtonContainer {
  align-items: center;
  display: flex;
}
.glossary-centeredPanel .sapMNav .submitButtonContainer .sapMLnk {
  margin-left: 1rem;
}
.glossary-errorMessageContainer {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
}
.glossary-errorMessageContainer .sapMMsgStrip {
  margin-top: 0.25rem;
  width: 100%;
}
.glossary-overview .sapMPanelContent {
  height: unset !important;
}
.glossary-overview .glossary-header {
  background-color: #0060c0 !important;
}
.glossary-overview .glossary-header .sapMText,
.glossary-overview .glossary-header .sapMBtnIcon {
  color: white !important;
}
.glossary-overview .glossary-header.sapMIBar .sapMBarChild:first-child {
  margin-left: 1rem !important;
}
.glossary-overview .glossary-header.sapMIBar > .sapMBarChild:last-child {
  margin-right: 1rem !important;
}
.glossary-overview .glossary-header .glossary-appTitle {
  font-weight: bold;
  font-size: 1rem;
}
.glossary-overview .glossary-overviewList {
  height: 100%;
}
.glossary-overview .glossary-overviewList .sapMTB {
  padding-left: 0rem !important;
}
.glossary-overview .glossary-overviewList .sapMTB .sapMComboBox {
  margin-left: 0px;
}
.glossary-overview .glossary-overviewList .sapMTB > .sapMBarChild:last-child {
  margin-right: 0px;
}
.glossary-overview .glossary-overviewList .sapMBarChild.sapMSF.sapMTBShrinkItem {
  max-width: 250px;
}
.glossary-overview .glossary-overviewList .sapMListUl {
  overflow: hidden auto;
  height: -webkit-fill-available;
}
.glossary-overview .glossary-overviewList .glossary-listItem .heading {
  min-width: 25%;
  max-width: 25%;
}
.glossary-overview .glossary-overviewList .glossary-listItem .wordContainer {
  width: 100%;
}
.glossary-overview .glossary-overviewList .glossary-listItem .wordContainer .sapMFlexItem:first-child,
.glossary-overview .glossary-overviewList .glossary-listItem .wordContainer .word {
  max-width: 100%;
}
.glossary-overview .glossary-overviewList .glossary-listItem .editIcon {
  height: 0;
  transition: opacity 0.25s ease;
  opacity: 0;
  margin-left: 0.5rem;
}
.glossary-overview .glossary-overviewList .glossary-listItem .lastModifiedDate {
  font-size: 0.75rem;
}
.glossary-overview .glossary-overviewList .glossary-listItem .description {
  margin-left: 2rem;
  margin-right: 1rem;
  text-align: justify !important;
}
.glossary-overview .glossary-overviewList .glossary-listItem:hover .editIcon {
  cursor: pointer;
  height: auto;
  opacity: 1;
  display: block;
}
.glossary-dialog .sapMDialogSection {
  height: 100% !important;
}
