<div class="content">

    <div id="login">
        <form>
            <div class="heading">Login to your Account</div>
            <div class="inputContainer">
                <input type="text" id="login_form_email" placeholder="Email" name="email" required>
                <input type="password" id="login_form_password" placeholder="Password" name="password" pattern=".{6,}" required>
            </div>
        </form>
        
        <div class="HBox">
            <button onclick="onLoginButtonPress()" class="submitButton"><i class="fa fa-lock" aria-hidden="true"></i> Login</button>
            <div class="additionalText">Click <a href="#" onclick="goToRegistration()">here</a> to create a new account</div>
        </div>
    </div>

    <div id="registration">
        <form>
            <div class="heading">Create a new Account</div>
            <div class="inputContainer">
                <input type="text" id="registration_form_email" placeholder="Email" name="email" required>
                <input type="password" id="registration_form_password" placeholder="Password" pattern=".{6,}" name="password" required>
            </div>
        </form>
    
        <div class="HBox">
            <button onclick="onRegistrationButtonPress()" class="submitButton"><i class="fa fa-lock" aria-hidden="true"></i> Register</button>
            <div class="additionalText">Click <a href="#" onclick="goToLogin()">here</a> to login to your account</div>
        </div>
    </div>

    <div id="busy">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>


</div>