<div class="content fill VBox">

    <div id="mainTable" class="mobileList">
        <header class="hidden">
            Your Table
            <i class="fa fa-plus action"></i>
        </header>

        <div id="noDataIndicator" class="noData">
            This table is empty ;-(
        </div>

        <!-- Table content is added in here ;) -->
        <div id="tableContentContainer" class="listContent">
            
        </div>
    </div>

    <div id="tableBusyIndicator">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

</div>