
//Colors
@backgroundColor-highlight: white;
@color-positive: yellowgreen;
@color-darkPositive:darkolivegreen;

@fontColor-default: #444;

@linkColor-default: #1a73e8;

//Paddings
@halfPadding: 0.5rem;
@75Padding: 0.75rem;
@defaultPadding: 1rem;
@doublePadding: 2rem;

//font sizes
@TitleFontSize: 1.5rem;

//shadows
@defaultShadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

//border radius
@defaultBorderRadius: 3px;




.hidden {
    display: none;
}

a {
    color: @linkColor-default;
    text-decoration: underline;
    cursor: pointer;
}