
//Colors
@color-glossary: #D7803B;
@color-grey: #666;
@color-lightGrey: #aeaeae;
@color-success: #8cc905;
@color-error: #ee3100;

@font-size-small: 0.7rem;

.sapMListNoDataText {
    color: @color-grey;
}

.sapMLabelRequired:before {
    margin-right: 0.1rem;
}

.sapMInputBaseContentWrapperSuccess {
    border-color: @color-success !important;
}

.sapMInputBaseContentWrapperError {
    border-color: @color-error !important;
}

.glossary-centeredPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .sapMPanelContent {
        padding: 0.625rem 1rem 0.5rem 1rem;
    }

    .sapMNav {
        min-width:  15% !important;
        max-width: 400px;
        height: 350px !important;

        .passwordLabel {
            margin-top: 0.35rem;
        }

        .forgotPasswordLink {
            margin-top: 0.25rem;
            color: @color-lightGrey;
        }

        .submitButtonContainer {
            align-items: center;
            display: flex;
            margin-top: 0.25rem;

            .sapMFlexItem:last-child {
                margin-left: auto;
            }
        }

    }

    
}

.glossary-errorMessageContainer {
    position: absolute;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;

    .sapMMsgStrip {
        margin-top: 0.25rem;
        width: 100%
    }
}

.glossary-overview {

    .sapMPanelContent:first-child {
        display: flex;
        flex-direction: column;
    }


    .glossary-header {
        background-color: #0060c0 !important;

        .sapMText, .sapMBtnIcon  {
            color: white !important;
        }

        &.sapMIBar .sapMBarChild:first-child {
            margin-left: 1rem !important;
        }
        &.sapMIBar>.sapMBarChild:last-child {
            margin-right: 1rem !important;
        }

        .glossary-appTitle {
            font-weight: bold;
            font-size: 1rem;
        }

        .glossary-header-user {
            .sapMLnk {
                vertical-align: middle;
                margin: 0px !important;
                color: white;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .glossary-listHeader {
        flex-grow: 0;
        flex-shrink: 0;

        height: 3rem !important;
        padding: 0.5rem 0 !important;
        padding-left: 0rem !important;

        .sapMBarChild.sapMSF.sapMTBShrinkItem {
            max-width: 250px;
        }

        .sapMComboBox {
            margin-left: 0px !important;
        }

        >.sapMBarChild:last-child {
            margin-right: 0px !important;
        }
    }

    .glossary-overviewList {
        flex-grow: 1;
        flex-shrink: 1;
        height: calc(100% - 3rem);      //has to be adapted to fix overflow out of window glitch

        .sapMListUl {
            overflow: hidden auto;
            height: -webkit-fill-available;
        }

        .glossary-listItem {

            .heading {
                min-width: 25%;
                max-width: 25%;
            }

            .wordContainer {
                width: 100%;

                .sapMFlexItem:first-child, .word {
                    max-width: 100%;
                }
            }

            .editIcon {
                height: 0;
                transition: opacity 0.25s ease;
                opacity: 0; 
                margin-left: 0.5rem;
            }

            .lastModifiedDate {
                font-size: 0.75rem;
            }

            .description {
                margin-left: 2rem;
                margin-right: 1rem;
                text-align: justify !important;
            }

            &:hover {
                .editIcon {
                    cursor: pointer;
                    height: auto;
                    opacity: 1;
                    display: block;
                }
            }

        }
    }
}

.glossary-dialog {
    .sapMDialogSection {
        height: 100% !important;
    }
}

.sap-phone {
    .glossary-dialog {
        height: 100% !important;
        width: 100% !important;
        max-height: calc(100% - 5rem) !important;
        max-width: 100% !important;
        border-radius: 0px;
    }
}

.glossary-userDialog {

    .glossary-userInfo {
        .sapMLabel {
            font-size: @font-size-small;
        }

        border-bottom: 1px solid @color-lightGrey;
        margin-bottom: 1rem;
    }

}