
nav {
	text-align: center;
	padding: 20px 0px 20px 0px;
}

nav a {
	display: block
    color: #FFFFFF;
    text-decoration: none;
}

.menuContainer {
	background-color: #D7803B;
    width: 0px;
    padding: 0px;
    margin: 0px;
	height: 100%;
	min-height: 100vh;
    
    -webkit-transition: width 0.25s;
}

.menuContainer.show {
    width: 84px;
    padding: 0px 5px 0px 5px;
}

.menuIcon {
	transition: 0.6s;
	text-shadow: 3px 6px rgba(0,0,0,0.2);
}

.menuIcon:hover {
  transform: rotateZ(360deg);
}
