

.glossary-page {

    &.glossary-page-onlyVertical {
        > section {
            margin: 0.75rem 0rem;
            width: auto !important;
        }
    }


    //content container of the page
    > section {
        margin: 0.75rem 0.75rem;
        width: auto !important;
    }

}

.glossary-page-marginHorizontal {
    margin: 0rem 0.75rem;
}